// Helper classes
// Colors
.color {
  &-violet {
    color: $pastelViolet;
  }

  &-orange {
    color: $pastelOrange;
  }

  &-red {
    color: $pastelRed;
  }
}

// Fonts
.font {
  // Font Family
  &-prata {
    font-family: "Prata", serif;
  }

  &-montserrat {
    font-family: "Montserrat", sans-serif;
  }

  // Font Size
  &-lg {
    font-size: $font-lg;
  }

  &-md {
    font-size: $font-md;
  }

  &-sm {
    font-size: $font-sm;
  }
}

// Text Transform
.center {
  text-align: center;
}
