// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Prata&display=swap");

// Partials and mixins
@import "variables";
@import "mixins";
@import "helpers";
@import "header";
@import "intro";
@import "musings";
@import "artwork";

// Global resets
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  min-width: 375px;
  padding: 34px;
  position: absolute;

  @include breakpoint-up(large) {
    padding: 98px;
  }
}

button {
  border: none;
  width: 100%;
  height: 49px;
  background-color: $pastelRed;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;

  &:hover {
    background-color: black;
  }

  @include breakpoint-up(medium) {
    max-width: 251px;
  }
}

.spacer {
  height: 50px;
}
